@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}
header{
    margin: 20px;
}
header h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

}

#Caixa-mae{
    background-color: white;
    width: 550px;
    height: 250px;
    margin: auto;
    padding: 10px;
    display: flex;
    overflow-x: auto;
}

nav div{
    background-color: rgb(143, 143, 143);
    border: 4px solid rgba(0, 0, 0, 0.493);
    min-width: 160px;
    max-height: 220px;
    margin: 10px;
}

nav div a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 45% 45%;
}