@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: grey;
    width: 100%;
    height: 70px;
    padding: 0px 0px 20px 0px;
}

header a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 0px 6px rgb(68, 68, 68);
    color: white;

}

header p{
    text-indent: 10px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(133, 133, 133, 0.418);
}

nav div{
    padding: 0px 30px;
}
nav div a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 0px 6px rgb(68, 68, 68);
    color: white;
}

nav div a:hover{
    color: rgb(187, 187, 187);
    text-decoration: underline;
    transition: 0.5s;
}

