@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#read{
    background-color: black;
    display: block;
    padding: 10px;
    
}

#read-pagina{
    max-width: 800px;
    margin: 0 auto;
}

#read-pagina img{
    width: 100%;
    height: auto;
}
