*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-image: url(Base/fundo1.jpg);
    background-repeat: none;
    background-position: center center;
    background-size: cover;
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

#instagram img{
    display: block;
    width: 60px;
    height: 60px;
}


#youtube img{
    display: block;
    width: 60px;
    height: 60px;
}

#celular img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 750px;
    height: 680px;
}

#tela{
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49.5%, -50%);
    width: 284px;
    height: 560px;
}